@using System.Configuration
@{
    //SetAntiForgeryCookie();
    var version = ConfigurationManager.AppSettings["version"];
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="~/T.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/css/site.css" rel="stylesheet" />
    <title>@ViewBag.Title - TSBLOG</title>
    <script type="text/javascript">
        //This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.

        var _version = @version;
        var _jsPath = '@(ViewBag.JsPath ?? string.Empty)';
    </script>
</head>
<body>
    @Html.Partial("_NavBar")
    <div class="container">
        @RenderBody()
    </div>
    <footer class="footer-box">
        <div class="container">
            版权所有 &copy; @(DateTime.Now.Year)
        </div>
    </footer>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Assets/lib/require.js"></script>
    <script>
        ['/assets/lib/config.js?v=' + _version]
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>